<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:flow="http://www.springframework.org/schema/webflow-config"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
          http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.2.xsd
          http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd
          http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
          http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.1.xsd
          http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.1.xsd
          http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi-1.2.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
	  http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
">
    <context:annotation-config />
    <context:component-scan base-package="com.lab6.filme2" />
    
<!--    <bean id="avaliacaoDAO" class="com.lab6.filme2.dao.AvaliacaoDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="classificacaoDAO" class="com.lab6.filme2.dao.ClassificacaoDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>-->
    <bean id="permissaoDao" class="com.lab6.filme2.dao.PermissaoDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="usuarioDao" class="com.lab6.filme2.dao.UsuarioDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
        <property name="permissaoDao" ref="permissaoDao" />
    </bean>    
<!--    <bean id="filmesDAO" class="com.lab6.filme2.dao.FilmeDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>-->
    
    <bean id="avaliacaoBO" class="com.lab6.filme2.service.AvaliacaoBO">
        <property name="avaliacaoDAO" ref="avaliacaoDAO" />
    </bean>
    
    <bean id="classificacaoBO" class="com.lab6.filme2.service.ClassificacaoBO">
        <property name="classificacaoDAO" ref="classificacaoDAO" />
    </bean>
    
    <bean id="filmesBO" class="com.lab6.filme2.service.FilmesBO">
        <property name="filmesDAO" ref="filmesDAO" />
    </bean>
    <bean id="segurancaBO" class="com.lab6.filme2.service.SegurancaBOImpl">
        <property name="usuarioDao" ref="usuarioDao"/>
     </bean>
</beans>
